body{
    background: url(../img/bg-1.jpg) no-repeat center center/cover;
}

nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
}

nav ul{
    display: flex;
   justify-content: center;
}

nav .logo img {
    position: relative;
    width: 100px;
    height: 100;
    left: 0px;
    margin-bottom: 20px;
}

nav ul {
    display: flex;
    margin: auto auto auto auto;
}



nav a {
    font-size: 2rem;
}